@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

/* PROMOCIONES */
.promociones {
  margin-top: 100px;
}

.promociones h2 {
  color: white;
  font-size: 50px;
}

.promociones h5 {
  color: white;
}

.alizarin {
  background: #e74c3c;
}

.amethyst {
  background: #9b59b6;
}

.emerald {
  background: #2ecc71;
}

.midnight-blue {
  background: #2c3e50;
}

.peter-river {
  background: #3498db;
}

.dl {
  background: #3d353578;
  padding: 30px 0;
  border-radius: 20px;
  position: relative;
}

.dl:before {
  content: " ";
  height: 20px;
  width: 20px;
  background: #ddd;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: -10px;
}

.dl .brand {
  color: #f0f0f0;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px 15px;
  margin-top: 10px;
  text-align: center;
  min-height: 100px;
}

.dl .discount {
  min-height: 50px;
  position: relative;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  font-weight: 700;
  padding: 20px 15px 0;
  color: #f1c40f;
}

.dl .discount:after {
  content: " ";
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: 20%;
}

.dl .discount.alizarin:after {
  border-top: 20px solid #e74c3c;
}

.dl .discount.peter-river:after {
  border-top: 20px solid #3498db;
}

.dl .discount.emerald:after {
  border-top: 20px solid #2ecc71;
}

.dl .discount.amethyst:after {
  border-top: 20px solid #9b59b6;
}

.dl .discount .type {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: -30px;
}

.dl .descr h3 {
  color: #fbfbfb;
  margin-top: 10px;
  padding: 20px 15px;
  font-size: 18px;
}

.dl .ends {
  padding: 0 15px;
  color: #f1c40f;
  margin-bottom: 10px;
}

.dl .coupon {
  min-height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 15px;
}

.dl .coupon a.open-code {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
}

/* navegador */
.navegador ul li {
  color: white;
  padding: 0 20px;
  font-size: 20px;
}

.navegador ul li a {
  color: white;
}

/* Clientes */
.counter-section i {
  display: block;
  margin: 0 0 10px;
}

.counter-section span.counter {
  font-size: 40px;
  color: white;
  line-height: 60px;
  display: block;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
}

.counter-title {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

.counter-icon {
  top: 25px;
  position: relative;
}

.counter-style2 .counter-title {
  letter-spacing: 0.55px;
  float: left;
}

.counter-style2 span.counter {
  letter-spacing: 0.55px;
  float: left;
  margin-right: 10px;
}

.counter-style2 i {
  float: right;
  line-height: 26px;
  margin: 0 10px 0 0;
}

.counter-subheadline span {
  float: right;
}

.medium-icon {
  font-size: 40px !important;
  margin-bottom: 15px !important;
  color: white;
}

.container-clientes {
  margin-top: 100px;
}

/* TESTIMONIOS */
.testimonials-clean {
  color: #ffffff;
  background-color: #eef4f7;
}

.testimonials-clean p {
  color: #7d8285;
}

.testimonials-clean h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .testimonials-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}
.testimonials-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.testimonials-clean .intro p {
  margin-bottom: 0;
}

.testimonials-clean .people {
  padding: 50px 0 20px;
}

.testimonials-clean .item {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .testimonials-clean .item {
    height: 220px;
  }
}
.testimonials-clean .item .box {
  padding: 30px;
  background-color: #fff;
  position: relative;
}

.testimonials-clean .item .box:after {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -24px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-width: 12px 15px;
  border-top-color: #fff;
}

.testimonials-clean .item .author {
  margin-top: 28px;
  padding-left: 25px;
}

.testimonials-clean .item .name {
  font-weight: bold;
  margin-bottom: 2px;
  color: inherit;
}

.testimonials-clean .item .title {
  font-size: 13px;
  color: #9da9ae;
}

.testimonials-clean .item .description {
  font-size: 15px;
  margin-bottom: 0;
}

.testimonials-clean .item img {
  max-width: 40px;
  float: left;
  margin-right: 12px;
  margin-top: -5px;
}

.container-footer {
  overflow: hidden;
  margin-top: 100px;
  background: #262626;
  color: #ffffff !important;
  font-size: 17px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.container-footer a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}
.container-footer i {
  font-size: 30px;
}

small {
  font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
}

.bold-text {
  color: #989c9e !important;
}

.mt-55 {
  margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important;
}

.titulo-footer {
  font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important;
}

.social {
  font-size: 21px !important;
}

.rights {
  font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
}

.body-bodega {
  background-color: #1d1f20;
}

.hero {
  position: relative;
  background-image: url(../imagenes/bodega/pexels-ion-ceban-ionelceban-2581022.jpg);
  background-size: cover;
  background-position: center;
  height: 800px;
}
.hero-grad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(253, 187, 45, 0.8) 0%, rgba(58, 28, 113, 0.67) 100%);
  z-index: 0;
}
.hero-diagonal {
  position: absolute;
  bottom: -0.5px;
  width: 100%;
  height: 12vw;
  z-index: 2;
  fill: #1d1f20;
}
.hero-content {
  position: relative;
  padding: 60px;
  padding-top: 10vw;
  padding-bottom: 10vw;
  z-index: 1;
  text-align: center;
}
.hero-content .heading {
  font-size: 70px;
  max-width: 700px;
  font-weight: 100;
  margin: 0 auto;
  color: #1d1f20;
  line-height: 1.5;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.hero-scroll {
  width: 40px;
  height: 70px;
  box-shadow: inset 0 0 0 1px #1d1f20;
  border-radius: 25px;
  position: relative;
  display: inline-block;
}
.hero-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  left: 50%;
  background: #1d1f20;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

.content {
  width: 90%;
  max-width: 700px;
  font-size: 20px;
  color: #fff;
  margin: 0 auto;
  padding: 60px 0 0 0;
  line-height: 1.6;
}
.content p {
  margin-top: 0;
  margin-bottom: 40px;
  color: #885c56;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
.titulo-historia {
  text-align: center;
  margin-top: 90px;
}
.titulo-historia h2 {
  color: wheat;
  font-size: 50px;
}

.nuestra-historia {
  color: #9c6c4f;
  text-align: center;
  font-size: 17px;
  padding-top: 130px;
}

.body-tintos {
  background: #000000;
}

.details {
  border: 1.5px solid grey;
  color: #212121;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px #212121;
}

.cart {
  background-color: #212121;
  color: white;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 900;
  width: 100%;
  height: 39px;
  padding-top: 9px;
  box-shadow: 0px 5px 10px #212121;
}

.card {
  width: 400px;
  margin: 20px;
}

.card-body-tinto {
  width: fit-content;
}

.btn {
  border-radius: 0;
  width: 150px;
}

.img-thumbnail {
  border: none;
}

.card {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-bottom: 10px;
}

/* nuestros vinos */
.patterns {
  margin-top: 80px;
  height: 200px;
}

svg text {
  font-family: Lora;
  letter-spacing: 10px;
  stroke: #fdfdfd;
  font-size: 150px;
  font-weight: 700;
  stroke-width: 3;
  animation: textAnimate 3s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: #f3af42;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: rgba(148, 222, 235, 0);
  }
}
/* -------------------------------------------------------------------------- */
/* VINOS TINTOS */
.caracteristicas-vino {
  color: white;
}
.caracteristicas-vino h2 {
  font-size: 25px;
}

.body-contacto {
  background-image: url(../imagenes/purple-grapes-vineyard-napa-valley-napa-vineyard-39511.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

.titulo-contacto {
  color: #000000;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

.underline {
  border-bottom: solid 2px #000000;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #000000;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
  float: right;
  width: 45%;
}

input[type=text], [type=email], select, textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #000000;
  color: #000000;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type=text]:focus, [type=email]:focus, textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
}

.name {
  float: left;
  width: 45%;
}

select {
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png") no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #000000;
}

:-moz-placeholder {
  color: #000000;
  opacity: 1;
}

::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000000;
}

#form_button {
  background: none;
  border: solid 2px #000000;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#form_button:hover {
  background: #000000;
  color: #000000;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
  }
}
@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }

  .icon {
    height: 35px;
    width: 35px;
  }

  .underline {
    width: 53px;
  }

  input[type=text], [type=email], select, textarea {
    font-size: 0.875em;
  }
}

/*# sourceMappingURL=style.css.map */
